<form class="mt-2">
    <label class="input-group-sm">
        Make
        <input type="text" class="form-control" ng-model="make" placeholder="Enter new car make">
    </label>
    <label class="input-group-sm">
        Model
        <input type="text" class="form-control" ng-model="model" placeholder="Enter new car model">
    </label>
    <label class="input-group-sm">
        Price
        <input type="text" class="form-control" ng-model="price" placeholder="Enter new car price">
    </label>
    <button ng-disabled="make === '' || model === '' || price === ''" class="btn btn-primary btn-sm btn-style"
            ng-click="addNewCarHandler()" type="submit">Add new car
    </button>
</form>